<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="/img/weather.jpg">
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This website is created by Sarthak Sahoo. It uses data from mapbox.com and darkskyapi</p>
			<img src="/img/sks.jpeg" class="portrait">
		</div>
		{{>footer}}
	</body>
</html>